<body>

    <center>
    <div style="font-family : verdana; font-size: 13px; width: 600px;">

        <div style="margin-top:5px;">
            <br/>
            <img src="https://dl.dropboxusercontent.com/s/iiztn08nsqikc35/event_anniversary.jpg?dl=0" width="600" alt="Happy Anniversary"/>
        </div>

        <div style="margin-top:4px; background-color: #ffffff; color:#ffffff">
            <div style="padding:10px;">
                <br/>
            </div>
        </div>

    </div>
    </center>
</body>